@page
@model IndexModel
@{ 
    ViewData["title"] = "Homename+";
}
@section Scripts {
    @if (Model.IsIPv6)
    {
        <script src="//ipv4.hostname.jmay.us/ipv4js.ashx" defer="defer"></script>
    }
    else
    {
        <!--<script src="//ipv6.hostname.jmay.us/ipv6js.ashx" defer="defer"></script>-->
    }
}

<h2>Hostname</h2>
<p>
    <div>@Model.HostName</div>
    <span id="IPv4Hostname"></span>
</p>
<h2>IP</h2>
<p>
    <div>@Model.IP</div>
    <span id="IPv4Address"></span>
</p>
<h2>User Agent</h2>
<p>
    <div>@Model.UserAgent</div>
</p>